{% extends 'base.html' %}
{% block content %}
    <div class="container col-md-9 mt-5">
        <div class="card bg-light p-3">
            <h3 class="card-title m-3 text-primary">
                {{ todo.title }}
            </h3>
            <hr>
            <small class="text-muted m-3">
                {{ todo.created }}
            </small>
        </div>
    </div>
    <div class="container col-md-11 mt-5">
        {% if request.user.is_authenticated %}
            <form action="" method="post" class="d-flex justify-content-center">
                {{ form }}{% csrf_token %}
                <input type="submit" class="btn-sm btn-primary align-self-center mx-2" value="Comment">
            </form>
            <hr>
        {% endif %}
    </div>
    <div class="container col-md-9 mt-5 card">
        {% for comment in todo.t_comments.all %}
            <div class="m-3">
                {{ comment.title }} - <small class="text-muted">{{ comment.created }}</small>
            </div>
            <div class="card-body text-muted mx-4">
                {{ comment.body }}
            </div>
            <hr>
        {% endfor %}
    </div>
{% endblock content %}